modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Flask Server"
author = 39842365
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 5000
externalPort = 80
